$themes: (
  light: (
    primary_font_color: rgb(1, 1, 83),
    title_font_color: rgb(93, 0, 93),
    background_color: rgb(255, 205, 209),
  ),
  dark: (
    primary_font_color: rgb(255, 202, 202),
    title_font_color: rgb(255, 129, 255),
    background_color: rgb(1, 1, 83),
  )
);

@mixin themeify {
  @each $theme-name, $theme-map in $themes {
    $theme-map: $theme-map !global;
    [data-theme="#{$theme-name}"] & {
      @content;
    }
  }
}
@function themed($key) {
  @return map-get($theme-map, $key);
}

@mixin background_color($color) {
  @include themeify {
    background-color: themed($color);
  }
}

@mixin primary_font_color($color) {
  @include themeify {
    color: themed($color);
  }
}
@mixin title_font_color($color) {
  @include themeify {
    color: themed($color);
  }
}